<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SystemModules" type="ModuleAssistant.Configuration.Configuration.SystemModules, ModuleAssistant.Configuration" />
  </configSections>
  <SystemModules>
    <modules>
      <add assemblyFile="asdfas0" moduleName="asdfasd0"/>
      <add assemblyFile="asdfas1" moduleName="asdfasd1"/>
      <add assemblyFile="asdfas2" moduleName="asdfasd2"/>
      <add assemblyFile="asdfas3" moduleName="asdfasd3"/>
    </modules>
  </SystemModules>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>